@use '../abstracts/base';

body{
background-color: base.$light-background;
font-size:base.$font-size;
font-family: "Cormorant Garamond", serif;
max-width:100%;
}

  //Media query för mörkt läge
  @media (prefers-color-scheme: dark) {
    body{
        background-color: base.$dark-background;
        color: base.$dark-text;
    }
    
  }
  
  // Media query för ljust läge 
  @media (prefers-color-scheme: light) {
    body{
    background-color: base.$light-background;
    color: base.$light-text;
    }        
}

//If-else sats för justering av font-size
$is-mobile: false;

body {
  @if $is-mobile {
      font-size: 14px;
  } @else {
      font-size: 16px;
  }
}

