@use '../abstracts/base';
@use '../layout/_header';

footer{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width:100%;
   background-color: base.$header-footer-color;
    margin-top: base.$footer-margin-top;
    box-shadow: base.$box-shadow;
}


