@use '../abstracts/base';
@use '../themes/theme';


header{
    background-color: base.$secondary-lightblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:base.$header-padding;
    border-left:base.$side-border;

  
}