@use '../abstracts/base';


h1{
 @extend .gradient-heading;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient-heading{
    font-size: 3em;
        font-weight: bold;
        background: linear-gradient(90deg, #BE2490, gray); 
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent; 
        display: inline-block; 
        transition: background 0.5s ease; 
    }


