@use '../abstracts/base';

header{
    background-color: base.$header-footer-color;
    display:flex;   
    justify-content: center;
    align-items: center;
    padding:base.$header-padding;
    border-left:base.$side-border;
}


