@use '../abstracts/base';


.logga{
    width:3em;
    height:auto;
    border:2px solid yellow;
    border-radius:base.$border-radius;
    padding:1em;
    margin-top:2em;
    box-sizing: border-box;
}


