@use '../abstracts/base';


.picture-container{
    max-width:100%;
    height:auto;

}

img{
    margin-top:base.$picture-container-margin-top;
    gap:base.$picture-container-gap;
    width:50vw;
    display: flex;
margin:0 auto;
margin-bottom:3em;
}
