.sass-evaluation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
text-align: left;

p{
    width:50%;
    line-height: 1.4em;
}

ul{
    margin-right:15em;
}

}